@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
@import '../node_modules/bulma/bulma.sass';
@import "../node_modules/bulma/sass/utilities/initial-variables";
$family-sans-serif: 'Poppins', sans-serif;

:root {
  --background: #4A4A4A;
  --primary: #F95700;
  --secondary: #FFA473;
  --text:#F5F3F7;
}

* {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: var(--text);
}

body {
  background-color: var(--background);
}
