@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/kaj6oax.css");

:root {
  --background: #F5F3F7;
  --primary: #F95700;
  --secondary: #FFA473;
  --text:#4A4A4A;
}

* {
  margin: 0 auto;
  font-family: all-round-gothic, sans-serif;
  background-color: var(--background);
  text-align: left;
}
